.ui-btn {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #f1df6f;
}

.prev-project-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.next-project-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.project-img {
  padding-left: 1rem;
  padding-right: 1rem;
}

.project-img img {
  width: 100%;
  max-height: 20rem;
  object-fit: scale-down;
  margin-bottom: 0.5rem;
}

.project-title {
  display: flex;
  flex-wrap: wrap;
}

.project-title, .contact-title {
  padding: 0 0 0.5rem 0;
  font-size: 1.6rem;
}

.project-title h2 {
  padding-right: 0.5rem;
}


.project-subtitle {
  font-size: 1.3rem;
  align-self: flex-end;
}

.project-nav {
  justify-content: space-between;
}

.project-link-row {
  margin-bottom: 1rem;
  justify-content: space-around;
}

.link-btn {
  padding: 0.75rem;
  border-radius: 1.5rem;
  font-size: 1.3rem;
  min-width: 7rem;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .link-btn {
    font-size: 1.5rem;
    min-width: 8rem;
  }
}