.project-img {
  padding-left: 1rem;
  padding-right: 1rem;
}

.project-img img {
  width: 100%;
  max-height: 20rem;
  object-fit: scale-down;
  margin-bottom: 0.5rem;
}

.project-title, .contact-title {
  padding: 0 0 0.5rem 0;
  font-size: 1.6rem;
}


.project-subtitle {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.project-nav {
  justify-content: space-between;
}

.link-btn {
  padding: 0.75rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  min-width: 8rem;
  text-align: center;
}

.prev-project-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.next-project-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.project-link-row {
  margin-bottom: 1rem;
  justify-content: space-around;
}

.pic-column {
  width: 45%;
  max-height: 14rem;
}

.pic-column img {
  object-fit: scale-down;
  width: 100%;
  max-height: 100%;
}

.bio-column {
  padding-left: 0.75rem;
  font-size: 1.2rem;
  width: 55%
}

.bio-header {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  padding-bottom: 0.75rem
}

.contact-section {
  height: 100%
}

.contact-links-list {
  flex: 1;
  justify-content: center;
  padding-top: 3rem;
}

.contact-link {
  padding-bottom: 1rem;
}

.contact-btn-label {
  padding: 0.75rem;
  color: black;
  min-width: 5rem;
  margin-right: 0.25rem;
  font-size: 1.6rem;
}

.contact-btn {
  font-size: 1.6rem;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding-right: 0.75rem;
}